@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::selection{
  color: #ffff;
  background: rgb(142, 73, 232);
}
body{
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  padding: 10px;
  background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
}
.main{
  background: #fff;
  max-width: 600px;
  width: 100%;
  margin: 120px auto;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}

header{
  font-size: 30px;
  font-weight: 600;
}

.todo-input{
  margin: 20px 0;
  width: 100%;
  display: flex;
  height: 45px;
}

.todo-input-field {
  width: 85%;
  height: 100%;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 17px;
  padding-left: 15px;
  transition: all 0.3s ease;
}

.todo-input-field:focus{
  border-color: #8E49E8;
}

.todo-input-button:hover {
  background-color: #721ce3;
}

.todo-input-button{
  width: 50px;
  height: 100%;
  border: none;
  color: #fff;
  margin-left: 5px;
  font-size: 21px;
  outline: none;
  background-color: #8E49E8;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.6;
  transition: all 0.3s ease;
}


.todo-input-button.active{
  opacity: 1;
  pointer-events: auto;
}

.todo-list .todo-element{
  position: relative;
  list-style: none;
  margin-bottom: 8px;
  background: #f2f2f2;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: default;
  overflow: hidden;
  word-wrap: break-word;
}
.todo-list .todo-element .delete-icon{
  position: absolute;
  right: 0px;
  background: #e74c3c;
  width: 45px;
  text-align: center;
  color: #fff;
  padding: 10px 15px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.todo-list .todo-element .fulfill-icon{
  position: absolute;
  right: 50px;
  background: #16c213;
  width: 45px;
  text-align: center;
  color: #fff;
  padding: 10px 15px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.delete-icon, .fulfill-icon {
  top: 50%;
  transform: translate(0, -50%);
}
.todo-item-fulfilled {
  text-decoration: line-through;
}

.login-input {
  width: 100%;
  margin: 5px 0;
  height: 45px;
  vertical-align: middle;
  font-size: 16px;
  border: 1px solid #dddfe2;
  color: #1d2129;
  padding: 0 8px;
  outline: none;
}

.login {
  width: 100%;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  /* height: 100vh; */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.submit-button {
  background-color: #16c213;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  color: #ffffff;
  font-weight: 700;
  margin-top: 20px; 
}

.todo-item-title {
  padding-right: 95px;
  display: inline-block;
}
